# Home Assistant configuration
HASS_TOKEN=""
HASS_SERVER="homeassistant.local"
HASS_PORT="8123"
HASS_MQTT_PREFIX="homeassistant"

# MQTT path to publish states nad publish period (in seconds)
MQTT_PUB_PATH="/home/servers"
MQTT_PUBLISH_PERIOD=15

# name of network interface (e.g. eth0) otherwise first active one will be used
NETWORK_IFACE=""

# debug levels: 0 = DEBUG, 1 = INFO, 2 = WARN, 3 = ERROR
DEBUG_LEVEL=1

# how long to wait for the server to respond (or sleep if not supported)
TIMEOUT_SERVER=1

# sensor config
ENABLE_DISK=1
ENABLE_LOAD=1
ENABLE_MEMORY=1
ENABLE_SWAP=1
ENABLE_DISK=1
ENABLE_WIFI=1
ENABLE_UPTIME=1
ENABLE_TEMPERATURE=1
ENABLE_PING=1
ENABLE_UPDATE_INFO=1

CONFIG_PING_HOST="192.168.1.1"
