[Unit]
Description=sysmon
After=network-online.target

[Service]
ExecStart=/PATH_HERE/sysmon.sh
Restart=always

[Install]
WantedBy=multi-user.target
